<framify menu="true" path="add_entity" url="/h_add_entity" title="Manage Entity" parent="true" icon="local_hospital" controller="appController" ></framify>
<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;">
<div class="col-lg-12" id="response"></div>
<div  class="" ng-init="authorize();" ></div>

 <div class="" ng-if="frame.isAdmin()">
     <div class="" ng-init="fetch([['vw_entities'],['vw_types'],['vw_sub_types']]);frame.currTab='add'">
         
         <div class="col-lg-12">
           
                <ul class="nav nav-pills col-lg-12">
                    <li ng-class="{active: frame.currTab == 'add' }"><a ng-click="frame.currTab='add'">Add Entity</a></li>
                    <li ng-class="{active: frame.currTab == 'edit' }"><a ng-click="frame.currTab='edit'">Edit Entity</a></li>
                    <li ng-class="{active: frame.currTab == 'delete' }"><a ng-click="frame.currTab='delete'">Disable Entity</a></li>
                </ul>
            
                <div class="tab-content" style="padding-top:1em;">
                    <div ng-switch="frame.currTab">
                        
                        <!--ADD-->
                        <div ng-switch-when="add">
                           
                            
                            <form name="add_entity_form" class="col-lg-10" style="" novalidate>
                                 <div ng-if="!frame.isRoot()" class="alert alert-danger"><button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><center style="font-weight:bold;">Your access level does not permit you to add entities.</center></div>
                                
                                <!-- Title -->
                                <div class="form-group">
                                    <label>Entity Title<sup style="color:red">*</sup></label>
                                    <input type="text" name="title" class="form-control" 
                                        ng-model="data.entities.title"
                                        ng-minlength="3"
                                        ng-maxlength="100"
                                        required>
                                    <div class="help-block" ng-messages="add_entity_form.title.$error" ng-if="add_entity_form.title.$touched">
                                        <p ng-message="minlength">Please Enter a longer Title.</p>
                                        <p ng-message="maxlength">The title you entered is too long.</p>
                                        <p ng-message="required">A title is required.</p>
                                    </div>
                                </div>

                                <!-- Type -->
                                <div class="form-group">
                                    <label >Entity Type<sup style="color:red">*</sup></label>
                                     <select 
                                     class="form-control" 
                                     name="type" 
                                     ng-model="data.entities.type" 
                                     ng-options="entity.entity_id as entity.title for sub_type in fetched.vw_sub_types">   
                                     <option value="" selected>Pick a Category </option>                                   
                                    </select>
                                    <div class="help-block" ng-messages="add_entity_form.type.$error" ng-if="add_entity_form.type.$touched">
                                        <p ng-message="required">Please pick a category.</p>
                                    </div>
                                </div>

                                <!-- Location -->
                                <div class="form-group">
                                    <label>Location<sup style="color:red">*</sup></label>
                                    <textarea type="text" 
                                        name="location" 
                                        class="form-control" 
                                        ng-model="data.entities.location"
                                        ng-minlength="5"
                                        ng-maxlength="255"
                                        required>
                                    </textarea>
                                    <div class="help-block" ng-messages="add_entity_form.location.$error" ng-if="add_entity_form.location.$touched">
                                        <p ng-message="minlength">Please Enter a longer location.</p>
                                        <p ng-message="maxlength">The location you entered is too long.</p>
                                        <p ng-message="required">A location is required.</p>
                                    </div>
                                </div>

                                <!-- Telephone -->
                                <div class="form-group">
                                    <label>Main Telephone<sup style="color:red">*</sup></label>
                                    <input type="text" name="telephone" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="data.entities.telephone"
                                        ng-pattern="app.istelephone"
                                        ng-minlength="10"
                                        ng-maxlength="20"
                                        required>
                                    <div class="help-block" ng-messages="add_entity_form.telephone.$error" ng-if="add_entity_form.telephone.$touched">
                                        <p ng-message="minlength">Please Enter a longer telephone number.</p>
                                        <p ng-message="pattern">Please enter a valid telephone number</p>
                                        <p ng-message="maxlength">The telephone number you entered is too long.</p>
                                        <p ng-message="required">A telephone number is required.</p>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="form-group">
                                    <label>Email<sup style="color:red">*</sup></label>
                                    <input type="text" name="email" class="form-control" 
                                        placeholder="user@domain.ext"
                                        ng-model="data.entities.email"
                                        ng-pattern="app.isemail"
                                        ng-minlength="4"
                                        ng-maxlength="50"
                                        required>
                                    <div class="help-block" ng-messages="add_entity_form.email.$error" ng-if="add_entity_form.email.$touched">
                                        <p ng-message="minlength">Please Enter a longer email.</p>
                                        <p ng-message="pattern">Please enter a valid email</p>
                                        <p ng-message="maxlength">The email you entered is too long.</p>
                                        <p ng-message="required">An email is required.</p>
                                    </div>
                                </div>

                                <!-- Office -->
                                <div class="form-group">
                                    <label>Office Telephone</label>
                                    <input type="text" name="office" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="data.entities.office"
                                        ng-pattern="app.istelephone"
                                        >
                                    <div class="help-block" ng-messages="add_entity_form.office.$error" ng-if="add_entity_form.office.$touched">
                                        <p ng-message="pattern">Please enter a valid telephone number</p>
                                    </div>
                                </div>

                                <!-- Landline -->
                                <div class="form-group">
                                    <label>Other Telephone</label>
                                    <input type="text" name="landline" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="data.entities.landline"
                                        ng-pattern="app.istelephone"
                                        >
                                    <div class="help-block" ng-messages="add_entity_form.landline.$error" ng-if="add_entity_form.landline.$touched">
                                        <p ng-message="pattern">Please enter a valid telephone number</p>
                                    </div>
                                </div>

                                <!-- Fax -->
                                <div class="form-group">
                                    <label>Fax</label>
                                    <input type="text" name="fax" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="data.entities.fax"
                                        ng-pattern="app.istelephone"
                                        >
                                    <div class="help-block" ng-messages="add_entity_form.fax.$error" ng-if="add_entity_form.fax.$touched">
                                        <p ng-message="pattern">Please enter a valid fax number</p>
                                    </div>
                                </div>

                                <!-- Website -->
                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="text" name="website" class="form-control" 
                                    placeholder="www.hospitalcare.co.ke"
                                    ng-model="data.entities.web"
                                    >
                                </div>

                                <!-- Address -->
                                <div class="form-group">
                                    <label>Address <sup style="color:red">*</sup></label>
                                    <textarea type="text" 
                                        name="address" 
                                        class="form-control" 
                                        ng-model="data.entities.address"
                                        required>
                                    </textarea>
                                    <div class="help-block" ng-messages="add_entity_form.address.$error" ng-if="add_entity_form.address.$touched">
                                       <p ng-message="required">An address is required.</p>
                                    </div>
                                </div>

                                <!-- Others -->
                                <div class="form-group">
                                    <label>Others </label>
                                    <textarea type="text" 
                                    name="address" 
                                    class="form-control" 
                                    ng-model="data.entities.others"
                                    >
                                    </textarea>
                                </div>

                                 <!--
                                 

                                <!-- Submit Button -->
                                <div class="form-group">
                                    <button 
                                    ng-disabled="!frame.isRoot() || add_entity_form.$invalid" 
                                    ng-click="add('vw_entities',data.entities,'response')" 
                                    class=" button button-positive"
                                    >Add Entity</button>
                                </div>
                                
                            </form>
    
                            <br><br><br>
                        </div>
                        
                        <!-- EDIT -->
                        <div ng-switch-when="edit" ng-if="frame.currTab=='edit'" ng-controller="entitiesController">
                            <!--<json-formatter json="fetched.vw_entities" open="2"></json-formatter>-->
                             
                                <!--ng-click="editEntity()"-->
                            <button 
                                class="button button-balanced button-block"
                                data-toggle="modal" 
                                data-target="#myModal"
                            >OPEN MODAL
                            </button>

                            <div id="myModal" class="col-lg-10"  role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Some text in the modal.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>

                                </div>
                            </div>

                             <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" value="" placeholder="Search"> 
                            </label>
                            <!--<table id="table-id"  align="center"  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('entity_id')">id
                                        <span class="icon " ng-show="sortKey=='name'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('title')">Title
                                        <span class="icon " ng-show="sortKey=='telephone'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>                        
                                    <th ng-click="sort('parent')">Parent Category
                                        <span class="icon" ng-show="sortKey=='parent'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>            
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <form  name="type_edit" novalidate >
                                <tr dir-paginate="entity in fetched.vw_entities |orderBy:sortKey:reverse|filter:search|itemsPerPage:5" >
                                   -->
<!-- title       varchar(100) NOT NULL,
    type        bigint NOT NULL CONSTRAINT valid_type REFERENCES sub_types(sub_type_id),
    location    varchar(255),
    telephone   varchar(20) CONSTRAINT unique_telephone UNIQUE,
    office      varchar(20),
    landline    varchar(20),
    address     text,
    fax         varchar(100),
    email       varchar(50) CONSTRAINT unique_email UNIQUE,
    web         varchar(100),
    country     smallint DEFAULT '112',
    others      text,
    active      boolean DEFAULT true-->

                                        <!--<th scope="row" data-label="ID">{{entity.entity_id}}</th>
                                        <td data-label="Title" class="form-group">
                                            <input type="text" name="title" class="form-control" value="{{entity.title}}"
                                            ng-model="entity.title"
                                            ng-minlength="3"
                                            ng-maxlength="100"
                                            required>
                                        </td>
                                        <td>
                                            {{entity.parent_title}}
                                        </td>
                                        <td data-label="" class="noprint" style="margin:0 auto;text-align:center;"> {{data.temp}}
                                            <button 
                                                ng-if="(storage.admin.admin_name==admin.admin_name || frame.isRoot() )&& admin.admin_name!='userAdmin'" 
                                                style="border-radius:50%;" 
                                                ng-disabled="!entity.title" 
                                                class="btn btn-raised btn-md icon btn-raised ion-checkmark-round btn-success" 
                                                style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                                ng-click="update('vw_sub_types',{ title: entity.title, extras: ' entity_id=\'{{entity.entity_id}}\'' },'response')" 
                                                ></button>
                                        </td>
                                    
                                </tr>
                                </form>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>-->
                            
                            
                            
                            <br><br><br>
                        </div>
                        
                        <!--DELETE-->
                        <div ng-switch-when="delete" ng-if="frame.currTab=='delete'" >
                            <!--<json-formatter json="fetched.types" open="2"></json-formatter>-->
                            <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" placeholder="Search">               
                            </label>
                            <table id="del_type"  align='center'  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('type_id')">ID
                                        <span class="icon " ng-show="sortKey=='name'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('title')">Title
                                        <span class="icon " ng-show="sortKey=='title'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>                                    
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="sub_type in fetched.vw_sub_types |orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                                    <th scope="row" data-label="Name">{{entity.entity_id}}</th>
                                    <td data-label="Telephone">{{entity.title }}</td>
                                    <td data-label="" class="noprint" style="margin:0 auto;text-align:center;">
                                        
                                        <button 
                                        ng-class="{'ion-eye-disabled btn-danger':!entity.active,'ion-eye btn-success':entity.active}" 
                                        ng-disabled="(admin.admin_name==storage.admin.admin_name || (admin.access==0 && storage.admin.access!=0)) || admin.admin_name=='userAdmin'" 
                                        class="btn btn-raised btn-md icon " 
                                        style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                        ng-click="update('vw_sub_types',{ active: !entity.active, extras: ' entity_id=\'{{entity.entity_id}}\'' },'response')" ></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            
                            <br><br><br>
                        </div>
                        
                        
                    </div>                    
                </div>
            </div>
         
         
     </div>
 </div>
 
 <br><br><br>
 </ion-content> 