<framify menu="true" path="add_sub_type" url="/h_add_sub_type" title="Manage SubTypes" parent="true" icon="note_add" controller="appController" ></framify>
<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;">
<div class="col-lg-12" id="response"></div>
<div  class="" ng-init="authorize();" ></div>

 <div class="" ng-if="frame.isAdmin()">
     <div class="" ng-init="fetch('types');frame.currTab='add'">
         
         <div class="col-lg-12">
           
                <ul class="nav nav-pills col-lg-12">
                    <li ng-class="{active: frame.currTab == 'add' }"><a ng-click="frame.currTab='add'">Add SubType</a></li>
                    <li ng-class="{active: frame.currTab == 'edit' }"><a ng-click="frame.currTab='edit'">Edit SubType</a></li>
                    <li ng-class="{active: frame.currTab == 'delete' }"><a ng-click="frame.currTab='delete'">Disable SubType</a></li>
                </ul>
            
                <div class="tab-content" style="padding-top:1em;">
                    <div ng-switch="frame.currTab">
                        
                        <!--ADD-->
                        <div ng-switch-when="add">
                           
                            
                            <form name="add_type_form" class="col-lg-10" style="" novalidate>
                                 <div ng-if="!frame.isRoot()" class="alert alert-danger"><button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><center style="font-weight:bold;">Your access level does not permit you to add typeistrators.</center></div>
                                
                                <!-- Title -->
                                <div class="form-group">
                                    <label>Type Title</label>
                                    <input type="text" name="title" class="form-control" 
                                        ng-model="data.types.title"
                                        ng-minlength="3"
                                        ng-maxlength="100"
                                        required>
                                    <div class="help-block" ng-messages="add_type_form.title.$error" ng-if="add_type_form.title.$touched">
                                        <p ng-message="minlength">Please Enter a longer Title.</p>
                                        <p ng-message="maxlength">The title you entered is too long.</p>
                                        <p ng-message="required">A title is required.</p>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="form-group">
                                    <button 
                                    ng-disabled="!frame.isRoot() || add_type_form.$invalid" 
                                    ng-click="add('types',data.types,'response')" 
                                    class=" button button-positive"
                                    >Add Type</button>
                                </div>
                                
                            </form>
    
                            <br><br><br>
                        </div>
                        
                        <!-- EDIT -->
                        <div ng-switch-when="edit" ng-if="frame.currTab=='edit'">
                            <!--<json-formatter json="fetched.types" open="2"></json-formatter>-->
                            
                             <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" value="" placeholder="Search"> 
                            </label>
                            <table id="table-id"  align="center"  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('type_id')">id
                                        <span class="icon " ng-show="sortKey=='name'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('title')">Title
                                        <span class="icon " ng-show="sortKey=='telephone'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>                                    
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <form  name="type_edit" novalidate >
                                <tr dir-paginate="type in fetched.types |orderBy:sortKey:reverse|filter:search|itemsPerPage:5" >
                                   
                                        <th scope="row" data-label="ID">{{type.type_id}}</th>
                                        <td data-label="Title" class="form-group">
                                            <input type="text" name="title" class="form-control" value="{{type.title}}"
                                            ng-model="type.title"
                                            ng-minlength="3"
                                            ng-maxlength="100"
                                            required>
                                        </td>
                                        
                                        <td data-label="" class="noprint" style="margin:0 auto;text-align:center;"> {{data.temp}}
                                            <button 
                                                ng-if="(storage.admin.admin_name==admin.admin_name || frame.isRoot() )&& admin.admin_name!='userAdmin'" 
                                                style="border-radius:50%;" 
                                                ng-disabled="!type.title" 
                                                class="btn btn-raised btn-md icon btn-raised ion-checkmark-round btn-success" 
                                                style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                                ng-click="update('types',{ title: type.title, extras: ' type_id=\'{{type.type_id}}\'' },'response')" 
                                                ></button>
                                        </td>
                                    
                                </tr>
                                </form>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            
                            
                            
                            <br><br><br>
                        </div>
                        
                        <!--DELETE-->
                        <div ng-switch-when="delete" ng-if="frame.currTab=='delete'" >
                            <!--<json-formatter json="fetched.types" open="2"></json-formatter>-->
                            <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" placeholder="Search">               
                            </label>
                            <table id="del_type"  align='center'  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('type_id')">ID
                                        <span class="icon " ng-show="sortKey=='name'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('title')">Title
                                        <span class="icon " ng-show="sortKey=='title'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>                                    
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="type in fetched.types |orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                                    <th scope="row" data-label="Name">{{type.type_id}}</th>
                                    <td data-label="Telephone">{{type.title }}</td>
                                    <td data-label="" class="noprint" style="margin:0 auto;text-align:center;">
                                        <button 
                                        ng-class="{'ion-eye-disabled btn-danger':!type.active,'ion-eye btn-success':type.active}" 
                                        ng-disabled="(admin.admin_name==storage.admin.admin_name || (admin.access==0 && storage.admin.access!=0)) || admin.admin_name=='userAdmin'" 
                                        class="btn btn-raised btn-md icon " 
                                        style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                        ng-click="update('types',{ active: !type.active, extras: ' type_id=\'{{type.type_id}}\'' },'response')" ></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            
                            <br><br><br>
                        </div>
                        
                        
                    </div>                    
                </div>
            </div>
         
         
     </div>
 </div>
 
 <br><br><br>
 </ion-content> 