<framify menu="true" path="add_entity" url="/h_add_entity" title="Manage Entity" parent="true" icon="business" controller="appController" ></framify>
<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;">
<div class="col-lg-12" id="response"></div>
<div  class="" ng-init="authorize();" ></div>

 <div class="" ng-if="frame.isAdmin()">
     <div class="" ng-init="fetch([['vw_users',{specifics:'username,name'}],['vw_entities'],['vw_types'],['vw_sub_types']]);frame.currTab='add';sort('owner_name');">
         
         <div class="col-lg-12">
           
                <ul class="nav nav-pills col-lg-12">
                    <li ng-class="{active: frame.currTab == 'add' }"><a ng-click="frame.currTab='add'">Add Entity</a></li>
                    <li ng-class="{active: frame.currTab == 'edit' }"><a ng-click="frame.currTab='edit'">Edit Entity</a></li>
                    <li ng-class="{active: frame.currTab == 'delete' }"><a ng-click="frame.currTab='delete'">Disable Entity</a></li>
                </ul>
            
                <div class="tab-content" style="padding-top:1em;">
                    <div ng-switch="frame.currTab">
                        
                        <!--ADD-->
                        <div ng-switch-when="add">
                           
                            
                            <form name="add_entity_form" class="col-lg-10" style="" novalidate>
                                 <div ng-if="!frame.isRoot()" class="alert alert-danger"><button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><center style="font-weight:bold;">Your access level does not permit you to add entities.</center></div>
                                
                                 <!-- Owner -->
                                <div class="form-group">
                                    <label >Entity Owner<sup style="color:red">*</sup></label>
                                     <select 
                                     class="form-control" 
                                     name="type" 
                                     ng-model="data.entities.owner" 
                                     ng-options="user.username as user.name for user in fetched.vw_users">   
                                     <option value="" selected>Entity Owner </option>                                   
                                    </select>
                                    <div class="help-block" ng-messages="add_entity_form.type.$error" ng-if="add_entity_form.type.$touched">
                                        <p ng-message="required">Please pick an owner.</p>
                                    </div>
                                </div>

                                <!-- Title -->
                                <div class="form-group">
                                    <label>Entity Title<sup style="color:red">*</sup></label>
                                    <input type="text" name="title" class="form-control" 
                                        ng-model="data.entities.title"
                                        ng-minlength="3"
                                        ng-maxlength="100"
                                        required>
                                    <div class="help-block" ng-messages="add_entity_form.title.$error" ng-if="add_entity_form.title.$touched">
                                        <p ng-message="minlength">Please Enter a longer Title.</p>
                                        <p ng-message="maxlength">The title you entered is too long.</p>
                                        <p ng-message="required">A title is required.</p>
                                    </div>
                                </div>

                                <!-- Type -->
                                <div class="form-group">
                                    <label >Entity Type<sup style="color:red">*</sup></label>
                                     <select 
                                     class="form-control" 
                                     name="type" 
                                     ng-model="data.entities.type" 
                                     ng-options="sub_type.sub_type_id as sub_type.title for sub_type in fetched.vw_sub_types">   
                                     <option value="" selected>Pick a Category </option>                                   
                                    </select>
                                    <div class="help-block" ng-messages="add_entity_form.type.$error" ng-if="add_entity_form.type.$touched">
                                        <p ng-message="required">Please pick a category.</p>
                                    </div>
                                </div>

                                <!-- Location -->
                                <div class="form-group">
                                    <label>Location<sup style="color:red">*</sup></label>
                                    <textarea type="text" 
                                        name="location" 
                                        class="form-control" 
                                        ng-model="data.entities.location"
                                        ng-minlength="5"
                                        ng-maxlength="255"
                                        required>
                                    </textarea>
                                    <div class="help-block" ng-messages="add_entity_form.location.$error" ng-if="add_entity_form.location.$touched">
                                        <p ng-message="minlength">Please Enter a longer location.</p>
                                        <p ng-message="maxlength">The location you entered is too long.</p>
                                        <p ng-message="required">A location is required.</p>
                                    </div>
                                </div>

                                <!-- Telephone -->
                                <div class="form-group">
                                    <label>Main Telephone<sup style="color:red">*</sup></label>
                                    <input type="text" name="telephone" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="data.entities.telephone"
                                        ng-pattern="app.istelephone"
                                        ng-minlength="10"
                                        ng-maxlength="20"
                                        required>
                                    <div class="help-block" ng-messages="add_entity_form.telephone.$error" ng-if="add_entity_form.telephone.$touched">
                                        <p ng-message="minlength">Please Enter a longer telephone number.</p>
                                        <p ng-message="pattern">Please enter a valid telephone number</p>
                                        <p ng-message="maxlength">The telephone number you entered is too long.</p>
                                        <p ng-message="required">A telephone number is required.</p>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="form-group">
                                    <label>Email<sup style="color:red">*</sup></label>
                                    <input type="text" name="email" class="form-control" 
                                        placeholder="user@domain.ext"
                                        ng-model="data.entities.email"
                                        ng-pattern="app.isemail"
                                        ng-minlength="4"
                                        ng-maxlength="50"
                                        required>
                                    <div class="help-block" ng-messages="add_entity_form.email.$error" ng-if="add_entity_form.email.$touched">
                                        <p ng-message="minlength">Please Enter a longer email.</p>
                                        <p ng-message="pattern">Please enter a valid email</p>
                                        <p ng-message="maxlength">The email you entered is too long.</p>
                                        <p ng-message="required">An email is required.</p>
                                    </div>
                                </div>

                                <!-- Office -->
                                <div class="form-group">
                                    <label>Office Telephone</label>
                                    <input type="text" name="office" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="data.entities.office"
                                        ng-pattern="app.istelephone"
                                        >
                                    <div class="help-block" ng-messages="add_entity_form.office.$error" ng-if="add_entity_form.office.$touched">
                                        <p ng-message="pattern">Please enter a valid telephone number</p>
                                    </div>
                                </div>

                                <!-- Landline -->
                                <div class="form-group">
                                    <label>Other Telephone</label>
                                    <input type="text" name="landline" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="data.entities.landline"
                                        ng-pattern="app.istelephone"
                                        >
                                    <div class="help-block" ng-messages="add_entity_form.landline.$error" ng-if="add_entity_form.landline.$touched">
                                        <p ng-message="pattern">Please enter a valid telephone number</p>
                                    </div>
                                </div>

                                <!-- Fax -->
                                <div class="form-group">
                                    <label>Fax</label>
                                    <input type="text" name="fax" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="data.entities.fax"
                                        ng-pattern="app.istelephone"
                                        >
                                    <div class="help-block" ng-messages="add_entity_form.fax.$error" ng-if="add_entity_form.fax.$touched">
                                        <p ng-message="pattern">Please enter a valid fax number</p>
                                    </div>
                                </div>

                                <!-- Website -->
                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="text" name="website" class="form-control" 
                                    placeholder="www.hospitalcare.co.ke"
                                    ng-model="data.entities.web"
                                    >
                                </div>

                                <!-- Address -->
                                <div class="form-group">
                                    <label>Address <sup style="color:red">*</sup></label>
                                    <textarea type="text" 
                                        name="address" 
                                        class="form-control" 
                                        ng-model="data.entities.address"
                                        required>
                                    </textarea>
                                    <div class="help-block" ng-messages="add_entity_form.address.$error" ng-if="add_entity_form.address.$touched">
                                       <p ng-message="required">An address is required.</p>
                                    </div>
                                </div>

                                <!-- Others -->
                                <div class="form-group">
                                    <label>Others </label>
                                    <textarea type="text" 
                                    name="address" 
                                    class="form-control" 
                                    ng-model="data.entities.others"
                                    >
                                    </textarea>
                                </div>

                                 <!--
                                 

                                <!-- Submit Button -->
                                <div class="form-group">
                                    <button 
                                    ng-disabled="!frame.isRoot() || add_entity_form.$invalid" 
                                    ng-click="add('vw_entities',data.entities,'response');data.entities={}" 
                                    class=" button button-positive"
                                    >Add Entity</button>
                                </div>
                                <br><br><br>
                            </form>
    
                            <br><br><br>
                        </div>
                        
                        <!-- EDIT -->
                        <div ng-switch-when="edit" ng-if="frame.currTab=='edit'" ng-controller="entitiesController">
                            <!--<json-formatter -json="fetched.vw_entities" open="2"></json-formatter>-->
                            
                            <div ng-if="!editing">
                             <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" value="" placeholder="Search"> 
                            </label>
                            <table id="table-edit"  align="center"  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('entity_id')">id
                                        <span class="icon " ng-show="sortKey=='entity_id'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('owner_name')">Owner
                                        <span class="icon " ng-show="sortKey=='owner_name'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('title')">Title
                                        <span class="icon " ng-show="sortKey=='title'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th> 
                                    <th ng-click="sort('location')">Location
                                        <span class="icon " ng-show="sortKey=='location'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th> 
                                     <th ng-click="sort('telephone')">Telephone
                                        <span class="icon " ng-show="sortKey=='telephone'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>                        
                                    <th ng-click="sort('type_title')">Parent Category
                                        <span class="icon" ng-show="sortKey=='type_title'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>            
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <form  name="type_edit" novalidate >
                                <tr dir-paginate="entity in fetched.vw_entities |orderBy:sortKey:reverse|filter:search|itemsPerPage:5" >
                                    <th scope="row" data-label="ID">{{entity.entity_id}}</th>
                                    <td data-label="Owner" class="form-group">
                                       {{entity.owner_name}}
                                    </td>
                                    <td data-label="Title" class="form-group">
                                       {{entity.title}}
                                    </td>
                                    <td data-label="Location" class="form-group">
                                       {{entity.location}}
                                    </td>
                                    <td data-label="Telephone" class="form-group">
                                       {{entity.telephone}}
                                    </td>
                                    <td data-label="Category" class="form-group">
                                        {{entity.type_title}}
                                    </td>
                                    <td data-label="" class="noprint" style="margin:0 auto;text-align:center;">
                                        <button 
                                            ng-if="(storage.admin.admin_name==admin.admin_name || frame.isRoot() )&& admin.admin_name!='userAdmin'" 
                                            style="border-radius:50%;" 
                                            ng-disabled="!entity.title"
                                            class="btn btn-raised btn-md icon btn-raised ion-compose btn-success" 
                                            style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                            ng-click="editEntity(entity)" 
                                            ></button>
                                    </td>                                    
                                </tr>
                                </form>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            </div>
                            
                            <div ng-if="editing">
                                <!--<json-formatter json="current" open="1"></json-formatter>-->
                                <div ng-init="dPush(current,'extras','entity_id=\''+ current.entity_id+'\'')"></div>
                                <form name="edit_entity_form" class="col-lg-10" style="" novalidate>
                                 <div ng-if="!frame.isRoot()" class="alert alert-danger"><button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><center style="font-weight:bold;">Your access level does not permit you to add entities.</center></div>
                                
                                <!-- Title -->
                                <div class="form-group">
                                    <label>Entity Title<sup style="color:red">*</sup></label>
                                    <input type="text" name="title" class="form-control" 
                                        ng-model="current.title"
                                        ng-minlength="3"
                                        ng-maxlength="100"
                                        required>
                                    <div class="help-block" ng-messages="edit_entity_form.title.$error" ng-if="edit_entity_form.title.$touched">
                                        <p ng-message="minlength">Please Enter a longer Title.</p>
                                        <p ng-message="maxlength">The title you entered is too long.</p>
                                        <p ng-message="required">A title is required.</p>
                                    </div>
                                </div>

                                <!-- Type -->
                                <div class="form-group">
                                    <label >Entity Type<sup style="color:red">*</sup></label>
                                     <select 
                                     class="form-control" 
                                     name="type" 
                                     ng-model="current.type" 
                                     ng-options="sub_type.sub_type_id as sub_type.title for sub_type in fetched.vw_sub_types"
                                     required> 
                                    </select>
                                    <div class="help-block" ng-messages="edit_entity_form.type.$error" ng-if="edit_entity_form.type.$touched">
                                        <p ng-message="required">Please pick a category.</p>
                                    </div>
                                </div>

                                <!-- Location -->
                                <div class="form-group">
                                    <label>Location<sup style="color:red">*</sup></label>
                                    <textarea type="text" 
                                        name="location" 
                                        class="form-control" 
                                        ng-model="current.location"
                                        ng-minlength="5"
                                        ng-maxlength="255"
                                        required>
                                    </textarea>
                                    <div class="help-block" ng-messages="edit_entity_form.location.$error" ng-if="edit_entity_form.location.$touched">
                                        <p ng-message="minlength">Please Enter a longer location.</p>
                                        <p ng-message="maxlength">The location you entered is too long.</p>
                                        <p ng-message="required">A location is required.</p>
                                    </div>
                                </div>

                                <!-- Telephone -->
                                <div class="form-group">
                                    <label>Main Telephone<sup style="color:red">*</sup></label>
                                    <input type="text" name="telephone" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="current.telephone"
                                        ng-pattern="app.istelephone"
                                        ng-minlength="10"
                                        ng-maxlength="20"
                                        required>
                                    <div class="help-block" ng-messages="edit_entity_form.telephone.$error" ng-if="edit_entity_form.telephone.$touched">
                                        <p ng-message="minlength">Please Enter a longer telephone number.</p>
                                        <p ng-message="pattern">Please enter a valid telephone number</p>
                                        <p ng-message="maxlength">The telephone number you entered is too long.</p>
                                        <p ng-message="required">A telephone number is required.</p>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="form-group">
                                    <label>Email<sup style="color:red">*</sup></label>
                                    <input type="text" name="email" class="form-control" 
                                        placeholder="user@domain.ext"
                                        ng-model="current.email"
                                        ng-pattern="app.isemail"
                                        ng-minlength="4"
                                        ng-maxlength="50"
                                        required>
                                    <div class="help-block" ng-messages="edit_entity_form.email.$error" ng-if="edit_entity_form.email.$touched">
                                        <p ng-message="minlength">Please Enter a longer email.</p>
                                        <p ng-message="pattern">Please enter a valid email</p>
                                        <p ng-message="maxlength">The email you entered is too long.</p>
                                        <p ng-message="required">An email is required.</p>
                                    </div>
                                </div>

                                <!-- Office -->
                                <div class="form-group">
                                    <label>Office Telephone</label>
                                    <input type="text" name="office" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="current.office"
                                        ng-pattern="app.istelephone"
                                        >
                                    <div class="help-block" ng-messages="edit_entity_form.office.$error" ng-if="edit_entity_form.office.$touched">
                                        <p ng-message="pattern">Please enter a valid telephone number</p>
                                    </div>
                                </div>

                                <!-- Landline -->
                                <div class="form-group">
                                    <label>Other Telephone</label>
                                    <input type="text" name="landline" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="current.landline"
                                        ng-pattern="app.istelephone"
                                        >
                                    <div class="help-block" ng-messages="edit_entity_form.landline.$error" ng-if="edit_entity_form.landline.$touched">
                                        <p ng-message="pattern">Please enter a valid telephone number</p>
                                    </div>
                                </div>

                                <!-- Fax -->
                                <div class="form-group">
                                    <label>Fax</label>
                                    <input type="text" name="fax" class="form-control" 
                                        placeholder="+*** *** *** ***"
                                        ng-model="current.fax"
                                        ng-pattern="app.istelephone"
                                        >
                                    <div class="help-block" ng-messages="edit_entity_form.fax.$error" ng-if="edit_entity_form.fax.$touched">
                                        <p ng-message="pattern">Please enter a valid fax number</p>
                                    </div>
                                </div>

                                <!-- Website -->
                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="text" name="website" class="form-control" 
                                    placeholder="www.hospitalcare.co.ke"
                                    ng-model="current.web"
                                    >
                                </div>

                                <!-- Address -->
                                <div class="form-group">
                                    <label>Address <sup style="color:red">*</sup></label>
                                    <textarea type="text" 
                                        name="address" 
                                        class="form-control" 
                                        ng-model="current.address"
                                        required>
                                    </textarea>
                                    <div class="help-block" ng-messages="edit_entity_form.address.$error" ng-if="edit_entity_form.address.$touched">
                                       <p ng-message="required">An address is required.</p>
                                    </div>
                                </div>

                                <!-- Others -->
                                <div class="form-group">
                                    <label>Others </label>
                                    <textarea type="text" 
                                    name="address" 
                                    class="form-control" 
                                    ng-model="current.others"
                                    >
                                    </textarea>
                                </div>

                                 
                                <!-- Submit Button -->
                                <div class="form-group">
                                    <button 
                                    ng-disabled="!frame.isRoot() || edit_entity_form.$invalid" 
                                    ng-click="update('vw_entities',current,'response');clearEntity()" 
                                    class=" button button-positive"
                                    >Apply Changes</button>
                                     <button 
                                        class="button button-assertive" 
                                        ng-click="clearEntity()"
                                    >CLEAR DATA</button>
                                </div>
                                <br><br><br>
                            </form>

                            
                               
                            </div>
                            
                            <br><br><br>
                        </div>
                        
                        <!--DELETE-->
                        <div ng-switch-when="delete" ng-if="frame.currTab=='delete'" >
                            <!--<json-formatter json="fetched.entities" open="2"></json-formatter>-->
                            <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" placeholder="Search">               
                            </label>
                            <table id="table-delete"  align="center"  class="table table-striped  responsive-table"  name="content">
                            <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('entity_id')">id
                                        <span class="icon " ng-show="sortKey=='entity_id'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('owner_name')">Owner
                                        <span class="icon " ng-show="sortKey=='owner_name'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('title')">Title
                                        <span class="icon " ng-show="sortKey=='title'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th> 
                                    <th ng-click="sort('location')">Location
                                        <span class="icon " ng-show="sortKey=='location'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th> 
                                     <th ng-click="sort('telephone')">Telephone
                                        <span class="icon " ng-show="sortKey=='telephone'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>                        
                                    <th ng-click="sort('type_title')">Parent Category
                                        <span class="icon" ng-show="sortKey=='type_title'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>            
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr dir-paginate="entity in fetched.vw_entities |orderBy:sortKey:reverse|filter:search|itemsPerPage:5" >
                                    <th scope="row" data-label="ID">{{entity.entity_id}}</th>
                                    <td data-label="Owner" class="form-group">
                                       {{entity.owner_name}}
                                    </td>
                                    <td data-label="Title" class="form-group">
                                       {{entity.title}}
                                    </td>
                                    <td data-label="Location" class="form-group">
                                       {{entity.location}}
                                    </td>
                                    <td data-label="Telephone" class="form-group">
                                       {{entity.telephone}}
                                    </td>
                                    <td data-label="Category" class="form-group">
                                        {{entity.type_title}}
                                    </td>
                                    <td data-label="" class="noprint" style="margin:0 auto;text-align:center;">
                                        <button 
                                        ng-class="{'ion-eye-disabled btn-danger':!entity.active,'ion-eye btn-success':entity.active}" 
                                        ng-disabled="(admin.admin_name==storage.admin.admin_name || (admin.access==0 && storage.admin.access!=0)) || admin.admin_name=='userAdmin'" 
                                        class="btn btn-raised btn-md icon " 
                                        style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                        ng-click="update('vw_entities',{ active: !entity.active, extras: ' entity_id=\'{{entity.entity_id}}\'' },'response')" ></button>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            
                            <br><br><br>
                        </div>
                        
                        
                    </div>                    
                </div>
            </div>
         
         
     </div>
 </div>
 
 <br><br><br>
 </ion-content> 