 <script id="entity_edit.html" type="text/ng-template">
 <ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Entity Editing</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true">
       
        <form name="add_entity_form" class="col-lg-10" style="" novalidate>
                <div ng-if="!frame.isRoot()" class="alert alert-danger"><button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><center style="font-weight:bold;">Your access level does not permit you to add entities.</center></div>
            
            <!-- Title -->
            <div class="form-group">
                <label>Entity Title<sup style="color:red">*</sup></label>
                <input type="text" name="title" class="form-control" 
                    ng-model="data.entities.title"
                    ng-minlength="3"
                    ng-maxlength="100"
                    required>
                <div class="help-block" ng-messages="add_entity_form.title.$error" ng-if="add_entity_form.title.$touched">
                    <p ng-message="minlength">Please Enter a longer Title.</p>
                    <p ng-message="maxlength">The title you entered is too long.</p>
                    <p ng-message="required">A title is required.</p>
                </div>
            </div>

            <!-- Type -->
            <div class="form-group">
                <label >Entity Type<sup style="color:red">*</sup></label>
                    <select 
                    class="form-control" 
                    name="type" 
                    ng-model="data.entities.type" 
                    ng-options="entity.entity_id as entity.title for sub_type in fetched.vw_sub_types">   
                    <option value="" selected>Pick a Category </option>                                   
                </select>
                <div class="help-block" ng-messages="add_entity_form.type.$error" ng-if="add_entity_form.type.$touched">
                    <p ng-message="required">Please pick a category.</p>
                </div>
            </div>

            <!-- Location -->
            <div class="form-group">
                <label>Location<sup style="color:red">*</sup></label>
                <textarea type="text" 
                    name="location" 
                    class="form-control" 
                    ng-model="data.entities.location"
                    ng-minlength="5"
                    ng-maxlength="255"
                    required>
                </textarea>
                <div class="help-block" ng-messages="add_entity_form.location.$error" ng-if="add_entity_form.location.$touched">
                    <p ng-message="minlength">Please Enter a longer location.</p>
                    <p ng-message="maxlength">The location you entered is too long.</p>
                    <p ng-message="required">A location is required.</p>
                </div>
            </div>

            <!-- Telephone -->
            <div class="form-group">
                <label>Main Telephone<sup style="color:red">*</sup></label>
                <input type="text" name="telephone" class="form-control" 
                    placeholder="+*** *** *** ***"
                    ng-model="data.entities.telephone"
                    ng-pattern="app.istelephone"
                    ng-minlength="10"
                    ng-maxlength="20"
                    required>
                <div class="help-block" ng-messages="add_entity_form.telephone.$error" ng-if="add_entity_form.telephone.$touched">
                    <p ng-message="minlength">Please Enter a longer telephone number.</p>
                    <p ng-message="pattern">Please enter a valid telephone number</p>
                    <p ng-message="maxlength">The telephone number you entered is too long.</p>
                    <p ng-message="required">A telephone number is required.</p>
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label>Email<sup style="color:red">*</sup></label>
                <input type="text" name="email" class="form-control" 
                    placeholder="user@domain.ext"
                    ng-model="data.entities.email"
                    ng-pattern="app.isemail"
                    ng-minlength="4"
                    ng-maxlength="50"
                    required>
                <div class="help-block" ng-messages="add_entity_form.email.$error" ng-if="add_entity_form.email.$touched">
                    <p ng-message="minlength">Please Enter a longer email.</p>
                    <p ng-message="pattern">Please enter a valid email</p>
                    <p ng-message="maxlength">The email you entered is too long.</p>
                    <p ng-message="required">An email is required.</p>
                </div>
            </div>

            <!-- Office -->
            <div class="form-group">
                <label>Office Telephone</label>
                <input type="text" name="office" class="form-control" 
                    placeholder="+*** *** *** ***"
                    ng-model="data.entities.office"
                    ng-pattern="app.istelephone"
                    >
                <div class="help-block" ng-messages="add_entity_form.office.$error" ng-if="add_entity_form.office.$touched">
                    <p ng-message="pattern">Please enter a valid telephone number</p>
                </div>
            </div>

            <!-- Landline -->
            <div class="form-group">
                <label>Other Telephone</label>
                <input type="text" name="landline" class="form-control" 
                    placeholder="+*** *** *** ***"
                    ng-model="data.entities.landline"
                    ng-pattern="app.istelephone"
                    >
                <div class="help-block" ng-messages="add_entity_form.landline.$error" ng-if="add_entity_form.landline.$touched">
                    <p ng-message="pattern">Please enter a valid telephone number</p>
                </div>
            </div>

            <!-- Fax -->
            <div class="form-group">
                <label>Fax</label>
                <input type="text" name="fax" class="form-control" 
                    placeholder="+*** *** *** ***"
                    ng-model="data.entities.fax"
                    ng-pattern="app.istelephone"
                    >
                <div class="help-block" ng-messages="add_entity_form.fax.$error" ng-if="add_entity_form.fax.$touched">
                    <p ng-message="pattern">Please enter a valid fax number</p>
                </div>
            </div>

            <!-- Website -->
            <div class="form-group">
                <label>Website</label>
                <input type="text" name="website" class="form-control" 
                placeholder="www.hospitalcare.co.ke"
                ng-model="data.entities.web"
                >
            </div>

            <!-- Address -->
            <div class="form-group">
                <label>Address <sup style="color:red">*</sup></label>
                <textarea type="text" 
                    name="address" 
                    class="form-control" 
                    ng-model="data.entities.address"
                    required>
                </textarea>
                <div class="help-block" ng-messages="add_entity_form.address.$error" ng-if="add_entity_form.address.$touched">
                    <p ng-message="required">An address is required.</p>
                </div>
            </div>

            <!-- Others -->
            <div class="form-group">
                <label>Others </label>
                <textarea type="text" 
                name="address" 
                class="form-control" 
                ng-model="data.entities.others"
                >
                </textarea>
            </div>
            
            <!-- Submit Button -->
            <div class="form-group">
                <button 
                ng-disabled="!frame.isRoot() || add_entity_form.$invalid" 
                ng-click="add('vw_entities',data.entities,'response')" 
                class=" button button-positive"
                >Add Entity</button>
            </div>
            
        </form>

    </ion-content>
</ion-modal-view>
 </script>