<!--<framify menu="false" path="u_add_admission_rights" url="/u_add_admission_rights" title="Manage Admission Rights" parent="false" icon="local_hospital" controller="appController" ></framify>-->
<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;">
<div class="col-lg-12" id="response"></div>
<!--<div  class="" ng-init="authorize();" ></div>-->
<!--ng-if="frame.isAdmin()"-->
 <div class="" ng-controller="hospitalCtrl">
     <div class="" ng-init="fetch([['vw_entities'],['vw_admission_rights',{owner:storage.user.username}]]);frame.currTab='add';sort('doctor');">
         
         <div class="col-lg-12">
           
                <ul class="nav nav-pills col-lg-12">
                    <li ng-class="{active: frame.currTab == 'add' }"><a ng-click="frame.currTab='add'">Add Admission Right</a></li>
                    <li ng-class="{active: frame.currTab == 'edit' }"><a ng-click="frame.currTab='edit'">Edit Admission Rights</a></li>
                    <li ng-class="{active: frame.currTab == 'delete' }"><a ng-click="frame.currTab='delete'">Disable Admission Rights</a></li>
                </ul>
            
                <div class="tab-content" style="padding-top:1em;">
                    <div ng-switch="frame.currTab">
                        
                        <!--ADD-->
                        <div ng-switch-when="add">                           
                            
                            <form name="add_admission_rights_form" class="col-lg-10" style="" novalidate>
                                 <!--<div ng-if="!frame.isRoot()" class="alert alert-danger"><button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><center style="font-weight:bold;">Your access level does not permit you to add admission Rights.</center></div>-->
                                
                                <!-- Practitioner -->
                                <div class="form-group">
                                    <label>My Entity<sup style="color:red">*</sup></label>
                                      <!--ng-options="entity.entity_id as entity.title for entity in fetched.vw_entities " -->
                                    <select 
                                        name="doctor"
                                        class="form-control"  
                                        ng-model="data.admission_rights.doctor" >   
                                        <option value="" selected>Select an entity </option>
                                        <option 
                                        ng-repeat="entity in fetched.vw_enntities"
                                        ng-show="entity.owner==storage.user.username"
                                        value="{{entity.entity_id}}" 
                                        >{{entity.title}}</option>                                  
                                    </select>
                                    <!--{{fetched.vw_entities}}-->
                                    <div class="help-block" ng-messages="add_admission_rights_form.doctor.$error" ng-if="add_admission_rights_form.doctor.$touched">
                                        <p ng-message="required">Please select a practitioner.</p>
                                    </div>
                                </div>

                                <!-- Institution -->
                                <div class="form-group">
                                    <label >Admitting Institution<sup style="color:red">*</sup></label>
                                     <select 
                                        name="hospital"
                                        class="form-control"  
                                        ng-model="data.admission_rights.hospital" 
                                        ng-options="entity.entity_id as entity.title for entity in fetched.vw_entities">   
                                        <option value="" selected>Select an Institution.</option>                                   
                                    </select>
                                    <div class="help-block" ng-messages="add_admission_rights_form.hospital.$error" ng-if="add_admission_rights_form.hospital.$touched">
                                        <p ng-message="required">Please select an Institution.</p>
                                    </div>
                                </div>

                                <!-- Notes -->
                                <div class="form-group">
                                    <label>Instructions<sup style="color:red">*</sup></label>
                                    <textarea type="text" 
                                        name="note" 
                                        class="form-control" 
                                        ng-model="data.admission_rights.note"
                                        ng-minlength="5"
                                        ng-maxlength="255"
                                        required>
                                    </textarea>
                                    <div class="help-block" ng-messages="add_entity_form.note.$error" ng-if="add_entity_form.note.$touched">
                                        <p ng-message="minlength">Please Enter a longer set of instructions.</p>
                                        <p ng-message="maxlength">The instructions you entered are too long.</p>
                                        <p ng-message="required">Instruction are required.</p>
                                    </div>
                                </div>
                                <span hidden ng-if="!add_admission_rights_form.$invalid">{{data.admission_rights=sudo(data.admission_rights,storage.user)}}</span>

                                <!-- Submit Button -->
                                <div class="form-group">
                                    <!--!frame.isRoot() ||-->
                                    <button 
                                    ng-disabled="add_admission_rights_form.$invalid" 
                                    ng-click="add('vw_admission_rights',data.admission_rights,'response')" 
                                    class=" button button-positive"
                                    >Add Admission Right</button>
                                </div>
                                
                            </form>
    
                            <br><br><br>
                        </div>
                        
                        <!-- EDIT -->
                        <div ng-switch-when="edit" ng-if="frame.currTab=='edit'">
                            <!--<json-formatter json="fetched.vw_admission_rights" open="2"></json-formatter>-->
                            
                             <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" value="" placeholder="Search"> 
                            </label>
                            <table id="edit-form"  align="center"  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('admission_right_id')">id
                                        <span class="icon " ng-show="sortKey=='admission_right_id'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('doctor')">Practitioner
                                        <span class="icon " ng-show="sortKey=='doctor'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>                        
                                    <th ng-click="sort('hospital')">Institution
                                        <span class="icon" ng-show="sortKey=='hospital'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th> 
                                    <th ng-click="sort('note')">Instructions
                                        <span class="icon" ng-show="sortKey=='note'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>           
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <form  name="type_edit" novalidate >
                                <tr dir-paginate="admission_right in fetched.vw_admission_rights |orderBy:sortKey:reverse|filter:search|itemsPerPage:5" 
                                ng-show="admission_right.owner == storage.user.username">
                                   
                                        <th scope="row" data-label="ID">{{admission_right.admission_right_id}}</th>
                                        <td data-label="Practitioner" class="form-group">
                                                <select 
                                                    class="form-control" 
                                                    name="doctor" 
                                                    ng-model="admission_right.doctor" 
                                                    ng-options="entity.entity_id as entity.title for entity in fetched.vw_entities"
                                                    required> 
                                                </select>
                                        </td>
                                        <td data-label="Institution" class="form-group">
                                                <select 
                                                    class="form-control" 
                                                    name="hospital" 
                                                    ng-model="admission_right.hospital" 
                                                    ng-options="entity.entity_id as entity.title for entity in fetched.vw_entities"
                                                    required> 
                                                </select>
                                        </td>
                                        <td data-label="Instructions" class="form-group">
                                             <textarea type="text" 
                                                name="note" 
                                                class="form-control" 
                                                ng-model="admission_right.note"
                                                ng-minlength="5"
                                                ng-maxlength="255"
                                                required>
                                            </textarea>
                                        </td>
                                        <td data-label="" class="noprint" style="margin:0 auto;text-align:center;"> {{data.temp}}                                             
                                                <!--ng-if="(storage.admin.admin_name==admin.admin_name || frame.isRoot() )&& admin.admin_name!='userAdmin'" -->
                                            <button
                                                style="border-radius:50%;" 
                                                ng-disabled="!admission_right.doctor||!admission_right.hospital||!admission_right.note" 
                                                class="btn btn-raised btn-md icon btn-raised ion-checkmark-round btn-success" 
                                                style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                                ng-click="update('vw_admission_rights',{ doctor: admission_right.doctor, hospital: admission_right.hospital, note: admission_right.note , extras: ' admission_right_id=\'{{admission_right.admission_right_id}}\'', token: { user: 'userAdmin', key: '153797e5fc6433812172aa8d47ec69e1', specifics: storage.user  } },'response')" 
                                                ></button>
                                        </td>
                                    
                                </tr>
                                </form>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            
                            
                            
                            <br><br><br>
                        </div>
                        
                        <!--DELETE-->
                        <div ng-switch-when="delete" ng-if="frame.currTab=='delete'" >
                            <!--<json-formatter json="fetched.types" open="2"></json-formatter>-->
                            <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" placeholder="Search">               
                            </label>
                            <table id="del-form"  align="center"  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('admission_right_id')">id
                                        <span class="icon " ng-show="sortKey=='admission_right_id'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('doctor_name')">Practitioner
                                        <span class="icon " ng-show="sortKey=='doctor_name'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>                        
                                    <th ng-click="sort('hospital')">Institution
                                        <span class="icon" ng-show="sortKey=='hospital'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th> 
                                    <th ng-click="sort('note')">Instructions
                                        <span class="icon" ng-show="sortKey=='note'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>           
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="admission_right in fetched.vw_admission_rights |orderBy:sortKey:reverse|filter:search|itemsPerPage:5" 
                                ng-show="admission_right.owner == storage.user.username">
                                   
                                        <th scope="row" data-label="ID">{{admission_right.admission_right_id}}</th>
                                        <td data-label="Practitioner" class="form-group">
                                              {{admission_right.doctor_name}}
                                        </td>
                                        <td data-label="Institution" class="form-group">
                                             <select 
                                                class="form-control" 
                                                name="hospital" 
                                                ng-model="admission_right.hospital" 
                                                ng-options="entity.entity_id as entity.title for entity in fetched.vw_entities"
                                                ng-disabled="true"
                                            > 
                                            </select>
                                        </td>
                                        <td data-label="Instructions" class="form-group">
                                             {{admission_right.note}}
                                        </td>
                                    <td data-label="" class="noprint" style="margin:0 auto;text-align:center;">
                                        
                                        <!--ng-disabled="(admin.admin_name==storage.admin.admin_name || (admin.access==0 && storage.admin.access!=0)) || admin.admin_name=='userAdmin'" -->
                                        <button 
                                        ng-class="{'ion-eye-disabled btn-danger':!admission_right.active,'ion-eye btn-success':admission_right.active}" 
                                        class="btn btn-raised btn-md icon " 
                                        style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                        ng-click="update('vw_admission_rights',{ active: !admission_right.active, extras: ' admission_right_id=\'{{admission_right.admission_right_id}}\'', token: { user: 'userAdmin', key: '153797e5fc6433812172aa8d47ec69e1', specifics: storage.user  } },'response')" ></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            
                            <br><br><br>
                        </div>
                        
                        
                    </div>                    
                </div>
            </div>
         
         
     </div>
 </div>
 
 <br><br><br>
 </ion-content> 