<framify menu="false" path="u_my_products_&_services" url="/u_my_products_&_services" title="My Products & Services" parent="false" icon="folder_shared" controller="appController" ></framify>
<ion-content overflow-scroll="true" scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;" >


<!--<div  class="" ng-init="authorize();" ></div>-->
<!--ng-if="frame.isAdmin()"-->
 <div class="" ng-controller="hospitalCtrl" >
     <div class="" >
         <div class="col-lg-12" id="response" ></div>
         <div ng-init="fetch([['vw_services'],['vw_types'],['entities',{ specifics: 'entity_id,title', owner: storage.user.username }],['vw_service_offerings', { owner: storage.user.username }]]);frame.currTab='add';sort('title');"></div>
         <div class="col-lg-12">
                 <!--<json-formatter open="1" json="data.my_services"></json-formatter>-->
                 <!--<json-formatter open="1" json="fetched"></json-formatter>-->
                <ul class="nav nav-pills col-lg-12">
                    <li ng-class="{active: frame.currTab == 'add' }"><a ng-click="frame.currTab='add'">Add Offered Product/Service</a></li>
                    <li ng-class="{active: frame.currTab == 'edit' }"><a ng-click="frame.currTab='edit'">Edit Offered Products/Services</a></li>
                    <li ng-class="{active: frame.currTab == 'delete' }"><a ng-click="frame.currTab='delete'">Disable Offered Products/Services</a></li>
                </ul>
            
                <div class="tab-content" style="padding-top:1em;">
                    <div ng-switch="frame.currTab">
                        
                        <!--ADD-->
                        <div ng-switch-when="add">
                           
                            
                            <form name="add_my_service_form" class="col-lg-10" style="" novalidate>
                                <!--ng-if="!frame.isRoot()"-->
                                 <!--<div  class="alert alert-danger"><button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button><center style="font-weight:bold;">Your access level does not permit you to add main categories.</center></div>-->
                                <!--<json-formatter json="fetched" open="1"></json-formatter>-->
                                 <!-- Offering Entity -->
                                <div class="form-group">
                                    <label>Offering Entity<sup style="color:red">*</sup></label>
                                        <select 
                                        name="offering"
                                        class="form-control"  
                                        ng-model="data.my_services.entity" 
                                        ng-options="entity.entity_id as entity.title for entity in fetched.entities" required>   
                                            <option value="" selected>Pick an offering Entity </option>                                   
                                        </select>
                                    <div class="help-block" ng-messages="add_my_service_form.offering.$error" ng-if="add_my_service_form.offering.$touched">
                                      <p ng-message="required">An offering entity is required.</p>
                                    </div>
                                </div>

                                <!-- Service -->
                                <div class="form-group">
                                    <label>Service<sup style="color:red">*</sup></label>
                                        <select 
                                        name="offering"
                                        class="form-control"  
                                        ng-model="data.my_services.service" 
                                        ng-options="service.service_id as service.title for service in fetched.vw_services" required>   
                                        <option value="" selected>Pick a service </option>                                   
                                        </select>
                                    <div class="help-block" ng-messages="add_my_service_form.service.$error" ng-if="add_my_service_form.service.$touched">
                                        <p ng-message="minlength">Please Enter a longer service.</p>
                                        <p ng-message="maxlength">The service you entered is too long.</p>
                                        <p ng-message="required">A service is required.</p>
                                    </div>
                                </div>

                                <!-- Description -->
                                <div class="form-group">
                                    <label >Description<sup style="color:red">*</sup></label>
                                    <textarea 
                                        name="description"
                                        class="form-control"
                                        ng-minlength="5"
                                        placeholder="Product/Service Description" 
                                        ng-model="data.my_services.description"
                                        required>
                                    </textarea>
                                    <div class="help-block" ng-messages="add_my_service_form.description.$error" ng-if="form_appointment_book.description.$touched">
                                        <p ng-message="required">Please enter a description message.</p>
                                        <p ng-message="minlength">Please type a longer description.</p>
                                    </div>
                                </div>


                                <!-- Purchase cost -->
                                <div class="form-group">
                                    <label >Purchase cost<sup style="color:red"></sup></label>
                                       <input type="text" name="purchase" class="form-control" 
                                        ng-model="data.my_services.purchase"
                                        ng-minlength="1"> 
                                    <div class="help-block" ng-messages="add_my_service_form.purchase.$error" ng-if="add_my_service_form.purchase.$touched">
                                        <p ng-message="minlength">Please enter a valid purchase cost.</p>
                                    </div>
                                </div>

                                <!-- Retail cost -->
                                <div class="form-group">
                                    <label >Retail Price<sup style="color:red">*</sup></label>
                                       <input type="text" name="retail" class="form-control" 
                                        ng-model="data.my_services.retail"
                                        required> 
                                    <div class="help-block" ng-messages="add_my_service_form.retail.$error" ng-if="add_my_service_form.retail.$touched">
                                        <p ng-message="required">Please enter a valid retail cost.</p>
                                    </div>
                                </div>
                                <!--<span hidden>{{data.my_services.owner=storage.user.username}}</span>-->

                                <!--<json-formatter open="1" json="fetched"></json-formatter>-->
                                <!--<span hidden ng-if="!add_my_service_form.$invalid" >{{(data.my_services= sudo( addExtras(data.my_services,{username: storage.user.username},'username:WHERE owner','password,name,email,telephone,account_number,entity,active'),' ' ) ) }}</span>-->
                                <span hidden ng-if="!add_my_service_form.$invalid">{{data.my_services=sudo(data.my_services,storage.user)}}</span>
                                <!-- Submit Button -->
                                <div class="form-group">
                                    <!--!frame.isRoot() ||-->
                                    <button 
                                    ng-disabled=" add_my_service_form.$invalid" 
                                    ng-click="add('vw_service_offerings',data.my_services,'response')" 
                                    class=" button button-positive"
                                    >Add Product/Service Offering</button>
                                </div>
                                
                                <br><br><br>
                            </form>
    
                            
                        </div>
                        
                        <!-- EDIT -->
                        <div ng-switch-when="edit" ng-if="frame.currTab=='edit'">
                            <!--<json-formatter json="fetched.types" open="2"></json-formatter>-->
                            
                             <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" value="" placeholder="Search"> 
                            </label>
                            <table id="table-id"  align="center"  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('service_offering_id')">id
                                        <span class="icon " ng-show="sortKey=='service_offering_id'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('title')">Title
                                        <span class="icon " ng-show="sortKey=='title'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('entity_title')">Offering Entity
                                        <span class="icon " ng-show="sortKey=='entity_title'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('description')">Description
                                        <span class="icon " ng-show="sortKey=='description'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('purchase')">Purchase
                                        <span class="icon " ng-show="sortKey=='purchase'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th> 
                                    <th ng-click="sort('retail')">Retail
                                        <span class="icon " ng-show="sortKey=='retail'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>                                    
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <form  name="service_offering_edit" novalidate >
                                <tr dir-paginate="service_offering in fetched.vw_service_offerings |orderBy:sortKey:reverse|filter:search|itemsPerPage:5" 
                                ng-show="service_offering.owner == storage.user.username" >
                                   
                                        <th scope="row" data-label="ID">{{service_offering.service_offering_id}}</th>
                                        <td data-label="Title" class="form-group">{{service_offering.title}}
                                        </td>

                                        <td data-label="Offering Entity">
                                            {{service_offering.entity_title}}
                                        </td>

                                        <td data-label="Description" class="form-group">
                                            <textarea 
                                                name="description"
                                                class="form-control"
                                                ng-minlength="5"
                                                placeholder="Your message to the doctor" 
                                                ng-model="service_offering.description"
                                                required>
                                            </textarea>
                                        </td>

                                        <td data-label="Purchase" class="form-group">
                                            <input 
                                                type="text"
                                                class="form-control"  
                                                ng-model="service_offering.purchase" 
                                                ng-change="service_offering.purchase = (service_offering.purchase - 0) "
                                                required>
                                        </td>

                                        <td data-label="Retail" class="form-group">
                                            <input 
                                                type="text"
                                                class="form-control"  
                                                ng-model="service_offering.retail" 
                                                required ng-blur="service_offering.retail = (service_offering.retail - 0) ">
                                        </td>
                                        
                                        <td data-label="" class="noprint" style="margin:0 auto;text-align:center;"> {{data.temp}}
                                           <!--ng-if="(storage.admin.admin_name==admin.admin_name || frame.isRoot() )&& admin.admin_name!='userAdmin'" -->
                                            <button                                                 
                                                style="border-radius:50%;" 
                                                ng-disabled="service_offering_edit.$invalid" 
                                                class="btn btn-raised btn-md icon btn-raised ion-checkmark-round btn-success" 
                                                style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                                ng-click="update('vw_service_offerings',{ description: service_offering.description, purchase: service_offering.purchase, retail: service_offering.retail, extras: ' service_offering_id=\'{{service_offering.service_offering_id}}\'', token: { user: 'userAdmin', key: '153797e5fc6433812172aa8d47ec69e1', specifics: {}  } },'response')" 
                                                ></button>
                                        </td>
                                    
                                </tr>
                                </form>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            
                            
                            
                            <br><br><br>
                        </div>
                        
                        <!--DELETE-->
                        <div ng-switch-when="delete" ng-if="frame.currTab=='delete'" >
                           <label class="item item-input pull-left col-lg-5">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" class="" ng-model="search" value="" placeholder="Search"> 
                            </label>
                            <table id="disable_products_table"  align="center"  class="table table-striped  responsive-table"  name="content">
                                <thead>
                                <tr  style="font-weight:bold; text-transform:uppercase;">                           
                                    <th ng-click="sort('service_offering_id')">id
                                        <span class="icon " ng-show="sortKey=='service_offering_id'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('title')">Title
                                        <span class="icon " ng-show="sortKey=='title'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('entity_title')">Offering Entity
                                        <span class="icon " ng-show="sortKey=='entity_title'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('description')">Description
                                        <span class="icon " ng-show="sortKey=='description'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('purchase')">Purchase
                                        <span class="icon " ng-show="sortKey=='purchase'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th> 
                                    <th ng-click="sort('retail')">Retail
                                        <span class="icon " ng-show="sortKey=='retail'" ng-class="{'ion-arrow-up-b':reverse,'ion-arrow-down-b':!reverse}"></span>
                                    </th>                                    
                                    <th class="noprint" style="margin:0 auto;text-align:center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <form  name="service_offering_edit" novalidate >
                                <tr dir-paginate="service_offering in fetched.vw_service_offerings |orderBy:sortKey:reverse|filter:search|itemsPerPage:5" 
                                ng-show="service_offering.owner == storage.user.username">
                                   
                                        <th scope="row" data-label="ID">{{service_offering.service_offering_id}}</th>
                                        <td data-label="Title" class="form-group">{{service_offering.title}}
                                        </td>

                                        <td data-label="Offering Entity">
                                            {{service_offering.entity_title}}
                                        </td>

                                        <td data-label="Description" class="form-group">
                                           {{service_offering.description}}
                                        </td>

                                        <td data-label="Purchase" class="form-group">
                                           {{service_offering.purchase}}
                                        </td>

                                        <td data-label="Retail" class="form-group">
                                            {{service_offering.retail}}
                                        </td>
                                        
                                        <td data-label="" class="noprint" style="margin:0 auto;text-align:center;"> {{data.temp}}
                                           <!--ng-if="(storage.admin.admin_name==admin.admin_name || frame.isRoot() )&& admin.admin_name!='userAdmin'" -->
                                            <button                                                 
                                                ng-class="{'ion-eye-disabled btn-danger':!service_offering.active,'ion-eye btn-success':service_offering.active}"                                        
                                                class="btn btn-raised btn-md icon " 
                                                style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                                ng-click="update('vw_service_offerings',{ active: !service_offering.active,  extras: ' service_offering_id=\'{{service_offering.service_offering_id}}\'', token: { user: 'userAdmin', key: '153797e5fc6433812172aa8d47ec69e1', specifics: {}  } },'response')" 
                                                ></button>
                                        </td>
                                    
                                </tr>
                                </form>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            
                            <br><br><br>
                        </div>
                        
                        
                    </div>                    
                </div>
            </div>
         
         
     </div>
 </div>
 
 <br><br><br>

</ion-content>