<framify menu="false" path="u_change_password" url="/u_change_password/:email/:token" title="Password Change" parent="false" icon="security" controller="appController" ></framify>
<ion-content overflow-scroll="true" scrollbar-x="false" scrollbar-y="false" style="padding-bottom:20px;">

    <div class="col-lg-12" id="response" ng-init="fetch([['users', { email: urlParams.email, password: urlParams.token, specifics:'name,email,password'  }]])"></div>

<!--<json-formatter json="urlParams" open="1"></json-formatter>-->


    <center ng-if="(urlParams.email != ':email' && urlParams.token == ':token')">
       
        <div class="" ng-init="count('vw_users', { email: urlParams.email })">
           
            <div ng-if="!counted">
                <ion-spinner class="balanced" icon="crescent"></ion-spinner> 
                <br> Verifying identity ... 
            </div>

            <div class="" ng-if="counted.users > 0">
                
                <div class="" ng-init="fetch([['users',{email:urlParams.email, specifics: 'name,email,password', extras: ' limit 1 '}]]);"></div>

                <div ng-if="fetched.users[0].password">
                    <br><br>
                   <h4> Recovery email sent to <font color="green">{{fetched.users[0].name}} </font> ...  </h4>
                    <div ng-init="cgi.main('/accounts/recovery', { name: fetched.users[0].name ,email: urlParams.email, token:fetched.users[0].password  })"></div>
                </div>
                <br><br>
                <h4> Please Enter your access token </h4>
                <input type="text button button-assertive" placeholder="Input token from your email." ng-model="data.token">   
                <br><br> 
                <button class="button button-balanced" ng-disabled="!data.token" ng-click="redirect('/#/u_change_password/'+urlParams.email+'/'+data.token)">CONTINUE WITH RECOVERY</button>

            </div>

            <div ng-if="counted.users == 0">
                <br><center><h3 style="color:red;">Oops! <font color="red">We couldn't find a profile that matches the email</font> <font color="blue">{{urlParams.email}}</font>.</h3></center>
                <br><br>
                <center ng-if="!app.isEmail(urlParams.email)">
                    The email <font color="green">{{urlParams.email}}</font> is <font color="red">INVALID</font>.
                </center>

                <br2></br2>
                <center>
                    <font weight="bold">
                        <button class="button button-calm" ng-click="redirect('/#/signup')">Sign-Up</button>
                        <button class="button button-clear" ng-click="redirect('/#/u_change_password/:email/:token')">Try Another Email</button>
                    </font>
                </center>
                
            </div>
            
        </div>
        
          
      </center> 

    <div class="" ng-if="!(fetched.users.length > 0)">
  
      <div class="" ng-if="(urlParams.email == ':email' && urlParams.token == ':token')">
          <div class="" style="text-align:center;padding:20px;" >
              <h5> Enter your email address for a verification link </h5>
              <form name="password_email_form" novalidate>
                
                <div class="form-group">
                    <label>Email:<sup style="color:red">*</sup></label>
                    <input type="email" name="email" class="form-control"  placeholder="email"
                        ng-model="data.users.email"
                        ng-minlength="1"
                        ng-pattern="app.isemail"
                        required>
                        
                    <div class="help-block" ng-messages="password_email_form.email.$error" ng-if="password_email_form.email.$touched">
                            <p ng-message="minlength">That email is too short.</p>
                            <p ng-message="required">A email is required.</p>
                            <p ng-message="pattern">Please enter a svalid email</p>
                    </div>
                </div>
                <div class="form-group">
                    <button 
                    ng-disabled="password_email_form.$invalid" 
                    ng-click="redirect('/#/u_change_password/'+data.users.email+'/:token')"                   
                    class=" button button-balanced"
                    >Send verification Email</button>
                </div>

              </form>
              
          </div>
      </div>

    </div>

    <div class="" ng-if="urlParams.email != ':email' && urlParams.token != ':token' && ( !fetched.users[0].email  || (urlParams.email == fetched.users[0].email) ) && ( !fetched.users[0].password || (urlParams.token == fetched.users[0].password) ) " ng-controller="hospitalCtrl">
       
        <div ng-if="fetched.users[0].name">
            <h4><center>Thank you {{fetched.users[0].name}}, please enter your new password. </center></h4>

            <div name="change_password_form"  class="col-lg-10" style=""  novalidate>

                <!-- password-->
                <div class="form-group">
                    <label>Password<sup style="color:red">*</sup></label>
                    <input type="password" name="password" class="form-control"  placeholder="PASSWORD"
                        ng-model="data.user.password"
                        ng-pattern="app.ispassword"
                        required>
                        
                    <div class="help-block" ng-messages="change_password_form.password.$error" ng-if="change_password_form.password.$touched">
                            <p ng-message="required">A password is required.</p>
                            <p ng-message="pattern">Please enter a stronger password</p>
                    </div>
                </div>

                <!-- password 2-->
                <div class="form-group">
                    <label>Confirm Password <sup style="color:red">*</sup></label>
                    <input type="password" name="password2" class="form-control" placeholder="CONFIRM PASSWORD"
                        ng-model="data.user.password2"
                        ng-pattern="app.ispassword"
                        required>
                        
                    <div class="help-block" ng-messages="change_password_form.password2.$error" ng-if="change_password_form.password2.$touched">
                            <p ng-message="required">A password is required.</p>
                            <p ng-message="pattern">Please enter a stronger password</p>
                    </div>
                </div>

                <div ng-if="change_password_form.password2.$touched && (data.users.password != data.users.password2)">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        The passwords do not match!
                    </div>
                </div>

                <span hidden ng-if="data.user.password && (data.user.password === data.user.password2)"> {{data.user = setCreds(data.user)}}</span>
                <span hidden >{{ data.user = addExtras( data.user, urlParams, 'token:password' ) }}</span>

                <div class="form-group">
                    <button 
                    ng-disabled="change_password_form.$invalid || data.user.password != data.user.password2 || !data.user.password" 
                    ng-click="update('users',data.user,'response','password,password2',redirect,'/login')" 
                    class=" button button-positive"
                    >Change Password</button>
                </div>

            </div>
        </div>

        <div class="" ng-if="!fetched.users[0].name">
            <h4>
                <center>
                    <font color="red">Sorry</font>,
                     <i>that password recovery link has already been used!</i>
                    </center>
            </h4>
        </div>

    </div>
    
<!--<json-formatter json="fetched.users" open="1"></json-formatter>
{{urlParams.email != ':email' && urlParams.token != ':token' && ( !fetched.users[0].email  || (urlParams.email == fetched.users[0].email) ) && ( !fetched.users[0].password || (urlParams.token == fetched.users[0].password) )}}-->
</ion-content>