<div class="header" id="home">
    
    <div class="header_banner">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

        <!-- Wrapper for slides -->
        
        <div class="carousel-inner" role="listbox">
            <div id="doctors_img" class="item active image-wid">
            <img src="./images/1a.jpg" alt="..." class="img-responsive">
            <div class="carousel-caption">
                <h3>Medical Practitioner Listing</h3>
                <p>We offer a listing of medical practitioners in various fields all in one place.</p>
                <button type="button" class="btn btn-info sld">Proceed</button>
            </div>
            </div>
            <div id="drugs_img" class="item  image-wid">
            <img src="./images/1d.jpg" alt="..." class="img-responsive">
            <div class="carousel-caption">
                <h3>Drug Listing</h3>
                <p>Get information on where and at what price to get </p>
                <button type="button" class="btn btn-info sld">Proceed</button>
            </div>
            </div>
            <div id="appointments_img" class="item  image-wid">
            <img src="./images/1g.jpg" alt="..." class="img-responsive">
            <div class="carousel-caption">
                <h3>Appointment Management</h3>
                <p>Easily book appointments with medical practitioners.</p>
                <button type="button" class="btn btn-info sld">Proceed</button>
            </div>
            </div>
            <divid="services_img" class="item  image-wid">
            <img src="./images/1l.jpg" alt="..." class="img-responsive">
            <div  class="carousel-caption">
                <h3>Product Listing</h3>
                <p>Find and order products on offer.</p>
                <button type="button" class="btn btn-info sld">Read more</button>
            </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
        </div>
    </div>

</div>
<ui-view></ui-view>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content" style="padding:20px;">
			<!--{{service.current}}-->
		<div class="col-lg-12">
			<div class="col-lg-8" style="font-weight:bold;font-size:20px;"><b><u>{{service.current.title}}</u></b></div>
			<div class="col-lg-4 pull-right" style="color:green;font-weight:bold;font-size:20px;">{{service.current.rrp | currency : "KES. "}}</div>
		</div>

		<hr >

		<label class="item item-input pull-left col-lg-5" style="padding-top:10px;">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" class="" ng-model="service_offering_search" value="" placeholder="Search"> 
		</label>
		<table id="service_offerings"  align="center"  class="table table-striped  responsive-table"  name="content">
			<thead>
			<tr  style="font-weight:bold; text-transform:uppercase;">                           
				<th ng-click="sort('title')">Name
					<span class="icon " ng-show="sortKey=='service_id'" ng-class="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('telephone')">Telephone
					<span class="icon " ng-show="sortKey=='telephone'" ng-class="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('website')">Website
					<span class="icon " ng-show="sortKey=='website'" ng-class="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('location')">Location
					<span class="icon " ng-show="sortKey=='location'" ng-class="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('retail')">Retail Price
					<span class="icon " ng-show="sortKey=='retail'" ng-class="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span>
				</th>
				<th>

				</th>
			</tr>
			</thead>
			<tbody>
			<form  name="service_edit" novalidate >
			<tr 
			dir-paginate="service_offering in fetched.vw_service_offerings |orderBy:sortKey:reverse|filter:service_offering_search|itemsPerPage:5" 
			pagination-id="service_offerings" >
				
					<th 
					ng-if="service_offering.service == service.current.service_id"
					scope="row" 
					data-label="Name"
					>
						{{service_offering.entity_title}}
					</th>
					<td 
					ng-if="service_offering.service == service.current.service_id"
					data-label="Telephone" 
					class="form-group"
					>
						{{service_offering.owner_telephone}}
					</td>

					<td 
					ng-if="service_offering.service == service.current.service_id"
					data-label="Website" 
					class="form-group"
					>
						{{service_offering.owner_web}}
					</td>

					<td 
					ng-if="service_offering.service == service.current.service_id"
					data-label="Location" 
					class="form-group"
					>
						{{service_offering.owner_location}}
					</td>

					<td 
					ng-if="service_offering.service == service.current.service_id"
					data-label="Recommended Price" 
					class="form-group"
					>
						{{service_offering.retail | currency : "" : 0}}
					</td>

					<td  
					ng-if="service_offering.service == service.current.service_id"
					data-label="" 
					class="noprint" 
					style="margin:0 auto;text-align:center;"
					> 
						<!--ng-if="(storage.admin.admin_name==admin.admin_name || frame.isRoot() )&& admin.admin_name!='userAdmin'" -->
						<button
						style="border-radius:50%;"
						class="btn btn-primary btn-small"
						ng-click="showService(service)"
						data-toggle="modal" data-target=".bs-example-modal-lg">
						<i class="fa fa-info"
						></i>
						</button>

					</td>
				
			</tr>
			</form>
			</tbody>
		</table>
		<dir-pagination-controls 
		max-size="5" 
		direction-links="true" 
		boundary-links="true" 
		pagination-id="service_offerings" 
		class="ng-isolate-scope">
		</dir-pagination-controls>


		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="appointment_booking" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content" style="padding:20px;">
			<div class="" ng-if="!bookAppointment">
				Please select an appointment offering entity
			</div>
			 <div ng-if="bookAppointment" class="container-fluid">
			
				<center>
				<div class="col-lg-12">
					<br><br>
					<form name="form_appointment_book" novalidate>
						<table class="table table-sm">
						<thead>
							<tr>
								<td colspan="2">
									<center>
										<u><h3>{{appointmentTitle}} Appointment Scheduling</h3></u>
									</center>
									<br>
								</td>
							</tr>                    
						</thead>
						<tbody>
						<tr>
							<td>
								<label >Name<sup style="color:red">*</sup></label>
							</td>
							<td>
								<div class="form-group">
									<input 
										type="text"
										name="name" 
										class="form-control" 
										placeholder="Your Name Here" 
										ng-model="data.appointment.name"
										required>
									<div class="help-block" ng-messages="form_appointment_book.name.$error" ng-if="form_appointment_book.name.$touched">
										<p ng-message="required">Please enter your name.</p>
									</div>
								</div>
							</td>
						</tr>
							<tr>
							<td>
								<label >Email<sup style="color:red">*</sup></label>
							</td>
							<td>
								<div class="form-group">
								
									<input 
										type="email" 
										name="email"
										class="form-control" 
										ng-pattern="app.isemail"
										placeholder="Your Email" 
										ng-model="data.appointment.email"
										required>
									<div class="help-block" ng-messages="form_appointment_book.email.$error" ng-if="form_appointment_book.email.$touched">
										<p ng-message="required">Please enter your email.</p>
										<p ng-message="pattern">Enter a valid email.</p>
									</div>

								</div>
							</td>
						</tr>
							<tr>
							<td>
								<label >Telephone<sup style="color:red">*</sup></label>
							</td>
							<td>
								<div class="form-group">
								
									<input 
										type="tel" 
										name="telephone"
										class="form-control" 
										ng-pattern="app.istelephone"
										placeholder="Your Telephone" 
										ng-model="data.appointment.telephone"
										required>
									<div class="help-block" ng-messages="form_appointment_book.telephone.$error" ng-if="form_appointment_book.telephone.$touched">
										<p ng-message="required">Please enter your telephone number.</p>
										<p ng-message="pattern">Enter a valid telephone number.</p>
									</div>
								</div>
							</td>
						</tr>
							<tr>
							<td>
								<label >Message<sup style="color:red">*</sup></label>
							</td>
							<td>
									<div class="form-group">
								
									<textarea 
										name="message"
										class="form-control"
										ng-minlength="15"
										placeholder="Your message to the doctor" 
										ng-model="data.appointment.message"
										required>
									</textarea>
									<div class="help-block" ng-messages="form_appointment_book.message.$error" ng-if="form_appointment_book.message.$touched">
										<p ng-message="required">Please enter an appointment description message.</p>
										<p ng-message="minlength">Please type a longer message/description.</p>
									</div>
								</div>
							</td>
						</tr>
							<tr>
							<td colspan="2">
								<span hidden>{{data.appointment.entity=appointmentId}}</span>
								<span hidden ng-if="!add_user_form.$invalid">{{data.appointment=setCreds(data.appointment)}}</span>
								
								<div class="form-group">                        
									<button 
										class="btn btn-sm btn-primary" 
										data-toggle="modal"
										data-target="#appointment_booking"
										ng-click="add('appointments',data.appointment,'response',null,nextAppointment);clearAppointment()"
										ng-disabled="form_appointment_book.$invalid"
									>Book Appointment</button>
									<button 
										class="btn btn-sm btn-danger"  
										data-toggle="modal"
										data-target="#appointment_booking"
										ng-click="clearAppointment()"
									>Go Back</button>
								</div>
							</td>
						</tr>
						</tbody>
						</table>
					</form>
					

				</div>
				</center>
			</div>
		</div>
	</div>
</div>