<h3 style="background-color:#309BBE; padding:10px;color:white">
    Drug Listing
</h3>
<!--DRUGS-->
<script>
    $("#services_img,#appointments_img,#drugs_img,#doctors_img").removeClass("active")
    $("#drugs_img").addClass("active")
</script>
<div ng-init="fetch([['vw_services', {type:'p'}],['vw_service_offerings',{active:true}],['vw_types']])" id="drugs" class="">

    <label class="item item-input pull-left col-lg-5" style="padding-top:10px;">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" class="form-control" ng-model="search" value="" placeholder="Search for a drug by name,description or recommended price"> 
    </label>
    <table id="service"  align="center"  class="table table-striped  responsive-table"  name="content">
        <thead>
        <tr  style="font-weight:bold; text-transform:uppercase;">                           
            <th ng-click="sort('title')">Name
                <span class="icon " ng-show="sortKey=='service_id'" ng-class="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('description')">Description
                <span class="icon " ng-show="sortKey=='title'" ng-class="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('rrp')">Recommended Price
                <span class="icon " ng-show="sortKey=='description'" ng-class="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span>
            </th>
            <th>
                Find Retailers
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        <form  name="service_edit" novalidate >
        <tr 
        dir-paginate="service in fetched.vw_services |orderBy:sortKey:reverse|filter:search|itemsPerPage:5" 
        pagination-id="drugs"
        >
                <th ng-if="service.type=='p'"
                scope="row" 
                data-label="Name"
                style="text-transform:capitalize;"
                >
                <!--<json-formatter json="service" open="1"></json-formatter>-->
                    {{service.title }}
                </th>
                <td ng-if="service.type=='p'"
                data-label="Description" 
                class="form-group"
                style="text-transform:capitalize;"
                >
                    {{service.description}}
                </td>

                <td ng-if="service.type=='p'"
                data-label="Recommended Price" 
                class="form-group"
                >
                    {{service.rrp | currency : "" : 0}}
                </td>

                
                
                <td ng-if="service.type=='p'"
                data-label="" 
                class="noprint" 
                style="margin:0 auto;text-align:center;"
                > 
                    <!--ng-if="(storage.admin.admin_name==admin.admin_name || frame.isRoot() )&& admin.admin_name!='userAdmin'" -->
                    <button
                    style=""
                    class="btn btn-success btn-small"
                    ng-click="showService(service)"
                    data-toggle="modal" data-target=".bs-example-modal-lg">
                    <i class="fa fa-chevron-right"
                    ></i>
                    </button>

                </td>
            
        </tr>
        </form>
        </tbody>
    </table>
    <dir-pagination-controls 
    max-size="5" 
    direction-links="true" 
    boundary-links="true" 
    pagination-id="drugs" 
    class="ng-isolate-scope">
    </dir-pagination-controls>

</div>